:root {
--light: #DDE0BD;
--yellow: #D0D1AC;
--pink: #B6A39E;
--gray: #948B89;
--dark: #726375;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light);
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row; 
    justify-content: space-between;
    padding: 20px;
    background-color: var(--pink);
    color: white
}

h1 {
    display: inline-block;
    font-size:;
    background-color: var(--dark);
    padding: 10px 60px;
}

h2 {
    color: var(--dark);
    font-size: 50px;
    
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;

}

nav li {
    display: inline-block;
    padding: 5px;
}

nav a {
    color: var(--dark);
}

p {
    color: var(--dark);
    font-size: 20px;
    
}

.figure-header {
    display: flex;
}

.img-sky {
    width: 100%;
    height: auto;
}

.content {
    display: flex;
    width: 90%;
    margin: 1% auto;
}

.content h2 {
    flex: 0 0 25%;
    text-align: right;
}

.content p {
    margin-left: 3%;
    flex: 0 0 75%;
    padding-top: 20px
}

.content ul {
    flex: 0 0 75%;
    list-style-type: none;
    padding-top: 15px;
    margin-left: 2%
}

.content li {
    display: inline-block;
    color: var(--dark);
    padding: 5px;
    font-size: 20px;
}

.figure-large {
    margin: 3%;
    flex: 0 0 200px;
}

.figure-large img {
width: 700px;
height: auto;
}

.figure-large figcaption {
    padding: 10px;
    width: 680px;
    height: 25px;
    margin-top: -50px;
    background-color: #f0ffff52;
    position: absolute;
}

.figure-small {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 200px;
    margin-left: 30%;
}

.figure-small img {
    margin: 10px;
    
}

.figure-small figcaption {
    padding: 10px;
    width: 340px;
    height: 25px;
    margin-top: -60px;
    background-color: #f0ffff52;
    position: absolute;
}

@media screen and (max-width: 992px) {
    header,
    .content {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    header {
        justify-content: center;
    }
    .content {
        width: 50%;
        flex-direction: column;
    }

    .content h2 {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    header {
        justify-content: center;
    }
    .content {
        flex-direction: column;
    }

    .content h2 {
        text-align: center;
    }
}